# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Varie

docs/files_vecchi_progetti
docs/files_vecchi_progetti/Ploom WebApp
docs/planning_and_task-fino-al-13-12-25
brain_antigravity
CLAUDE.md
README_OLD.md
